/* TODO: new palette */
/* const BLUE = '#BFDDFF'; */
/* const CREAM = '#E8DED7'; */
/* const OLIVE = '#85968C'; */
/* const LIGHT_OLIVE = '#BCC1C1'; */
/* const GRAY = '#848D96'; */

.maps-container {
  display: flex; /* only for centering */
  justify-content: center;
  align-items: center;
}

.guest-container {
  background-color: #848d96;
  color: white;
  border: 2px solid #e8ded7;

  padding: 0.8rem;
  text-align: center;
  text-shadow: 1px 1px black;
}

.date-container {
  background-color: #85968c;
  border: 2px solid #e8ded7;
  text-shadow: 1px 1px black;
  color: white;

  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 0.8rem;
}

.qr-container {
  background-color: #85968c;
  border: 2px solid #e8ded7;
  text-shadow: 1px 1px black;
  color: white;

  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  padding: 0.8rem;
}
