@import './reset.css';

@font-face {
  font-family: "Excalifont";
  src: url('fonts/Excalifont-Regular.woff2') format('woff2');
  font-display: auto;
  unicode-range: U+000-5FF;
}

#app {
  width: 100vw;
  height: 100vh;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #a8d0f0; /* light blue test */
  font-family: "Excalifont", sans-serif;
}

