@import './reset.css';
@import './container.css';

@font-face {
  font-family: 'Vailery';
  src: url('fonts/Vailery-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Dancing Script';
  src: url('fonts/DancingScript-Regular.ttf') format('truetype');
  font-display: swap;
}

body {
  background: #bfddff;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Georgia', serif;
}
